<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    </meta>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>

    <title>VacacionaInador</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
		<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/es.js'></script>
		<style type="text/css">
			/* 日曜日 */
			.fc-sun {
				color: red;
				background-color: #fff0f0;
			}
	
			/* 土曜日 */
			.fc-sat {
				color: blue;
				background-color: #f0f0ff;
			}
        </style>
        
        
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </link>
   

    <link rel="stylesheet" href="/css/styles.css">
    </link>

</head>

<body class="bg-so">
    <header>
        <nav class=" navbar navbar-expand-lg navbar-dark navbar-design">
            <a class="navbar-brand" href="#">VacacionaInador</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/planner">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planner/preasignacion">Preasignaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planner/estadisticas">Estadisticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planner/configuracion">Configuración</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planner/administracion/rango">Catálogos</a>
                    </li>
                </ul>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar Sesión</a>
                    </li>
                    </ul>
                </ul>
            </div>
        </nav>
    </header>